body {
    width: 100%;
    height: 100%;
    background: url('IMG_7585.jpg');
    background-size:cover; 
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 

}

#top {
    padding: 20px;
    text-align: left;
    color: black;
}

#labelText {
    margin: 0px 20px 0px 30px;
    padding: 30px;
    color: black;
}

#entryOfCategory {
    background: silver;
    border-color: silver;
    border-style: solid;
    border-radius: 15%;
    display: inline-block;
    margin: 0px 20px 0px 50px;
    height: 30px;
    width: 100px;
    color: 	black;
    text-align: center;

}

#entryOfTasks {
    background: silver;
    border-color: silver;
    border-style: solid;
    border-radius: 10%;
    display: inline-block;
    margin: 0px 20px 0px 0px;
    height: 30px;
    width: 200px;
    color: 	black;
    text-align: center;
}


#tasksTable {
    padding: 20px;
}

#enterButtonOfTasks {
    background: silver;
    border-radius: 15%;
    display: inline-block;
    margin: 0px 20px 0px 90px;
    height: 30px;
    width: 80px;
    color: 	black;
}

#goAway {
    background: silver;
    border-color: silver;
    border-style: solid;
    border-radius: 25%;
    display: inline-block;
    margin: 5px;
    height: 25px;
    width: 80px;
    color: 	black;
}

#categoryToDo {
    border-color: silver;
    border-style: solid;
    border-radius: 25%;
    display: inline-block;
    margin: 0px 20px 0px 30px;
    height: 25px;
    width: 100px;
    color: 	black;
    text-align: center;

}

#toDo {
    border-color: silver;
    border-style: solid;
    border-radius: 25%;
    display: inline-block;
    margin: 0px 1px 0px 5px;
    height: 25px;
    width: 200px;
    color: 	black;
    text-align: center;

}

#done {
    margin: 0px 0px 0px 40px;

    width: 50px;
    text-align: center;


}

input[type="checkbox"] {
    filter: invert(90%) hue-rotate(09deg) brightness(1.5);
  }

.notDone{
    background: aliceblue;
  }


.done{
    background: #696969;
} 

/* .dot {
    height: 130px;
    width: 130px;
    background: url('greenfur.png');
    border-radius: 50%;
    display: inline-block;
}

#secondDot {
    height: 25px;
    width: 25px;
    background: url('white.png');
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    margin: 30px;

}

#topOfPage {
    width: 100%;
    height: 100%;
    background: url('white.png');
    padding: 10px;
    margin: 20px 10px 10px 10px;
}
#top {
    padding: 30px;
    margin-left: 77px;
}

h1 {
    color: black;
    padding: 10px;
}

#pushList {
    width: 100%;
    height: 100%;
    background: url('white.png');
    padding: 10px;
    margin: 20px 10px 10px 10px;
}

footer {
    width: 100%;
    height: 100%;
    background: url('white.png');
    padding: 20px;
    margin: 20px 10px 10px 10px;
    font: 16px;
} */