body {
    width: 100%;
    background: url('IMG_3415.jpeg');
    background-repeat: no-repeat;
    background-position: 150% -20%; 
}

#top {
    padding: 20px;
    text-align: left;
    color: black;
}

#textHeader {
    padding: 20px;
    text-align: left;
    font-family: Courier;
    margin: 0px 20px 0px 10px;
    padding: 30px;

}

#labelText {
    padding: 40px;
    font-family: Courier;
    color: black;
}

#entryOfCategory {
    background: rgb(231, 79, 8);
    border-color: rgb(137, 161, 29);
    border-style: solid;
    border-radius: 25px;
    display: inline-block;
    margin: 0px 20px 0px 50px;
    height: 30px;
    width: 100px;
    color: 	black;
    text-align: center;
    font-family: Courier;
}

#entryOfTasks {
    background: rgb(231, 79, 8);
    border-color: rgb(137, 161, 29);
    border-style: solid;
    border-radius: 25px;
    display: inline-block;
    margin: 0px 20px 0px 0px;
    height: 30px;
    width: 200px;
    color: 	black;
    text-align: center;
    font-family: Courier;
}

#enterButtonOfTasks {
    background: rgb(231, 79, 8);
    border-color: rgb(137, 161, 29);
    border-style: solid;
    border-radius: 25px;
    display: inline-block;
    margin: 5px;
    height: 25px;
    width: 80px;
    color: 	black;
    font-family: Courier;
}

#tasksTable {
    padding: 20px;
    font-family: Courier;
}

#categoryToDo {
    border-color: rgb(137, 161, 29);
    border-style: solid;
    border-radius: 25px;
    display: inline-block;
    margin: 0px 20px 0px 30px;
    height: 25px;
    width: 100px;
    color: 	black;
    text-align: center;
    font-family: Courier;
}

#toDo {
    border-color: rgb(137, 161, 29);
    border-style: solid;
    border-radius: 25px;
    display: inline-block;
    margin: 0px 1px 0px 5px;
    height: 25px;
    width: 200px;
    color: 	black;
    text-align: center;
    font-family: Courier;
}

#goAway {
    background: rgb(231, 79, 8);
    border-color: rgb(137, 161, 29);
    border-style: solid;
    border-radius: 25px;
    display: inline-block;
    margin: 5px;
    height: 25px;
    width: 80px;
    color: 	black;
    font-family: Courier;
}

#done {
    background: rgb(231, 79, 8);
    border-color: rgb(137, 161, 29);
    margin: 0px 0px 0px 40px;
    width: 50px;
    text-align: center;
    font-family: Courier;
}

input[type="checkbox"] {
    filter: invert(90%) hue-rotate(09deg) brightness(1.5);
  }

.notDone{
    background: rgb(231, 79, 8);
  }


.done{
    background: rgb(137, 161, 29);
} 

